@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Nunito Sans", sans-serif;
}

.margin-all {
    @apply  w-[calc(100vw-47px)]  mx-auto max-w-[1260px]
}
/* w-[calc(100vw-32px)] */

.swiper-slide {
    @apply flex items-center justify-center text-2xl h-[365px] border-2 border-gray-200 rounded-lg relative max-w-[174px] lg:max-w-[238px] p-2 !bg-white 
} /* mx-[5px] lg:mx-[7.8px] */



.custom-next, .custom-prev {
    @apply absolute bottom-[200px] bg-white size-[30px] z-[900] leading-none rounded-full border-2 border-blue-600 text-white items-center !hidden lg:!flex lg:justify-center lg:items-center
}

.custom-next {
    @apply right-[-13px] 
}
.custom-prev {
    @apply left-[-13px] 
}
/* .custom-next {
    @apply right-[-12px] 
} */

.special-p {
    @apply  sm:text-sm lg:text-lg text-left;
    line-height: 150%;
    letter-spacing: 5%;
}

.swiper-pagination-bullet {
    @apply !bg-[#838383] !opacity-100
}

.swiper-pagination-bullet-active {
    @apply !bg-[#303030]
}

.footer-links {
    @apply text-sm
}
.footer-links h4 {
    @apply font-bold pb-[11px]
}
.footer-links * {
    @apply pb-[8px]
}
.footer-links h5 {
    @apply cursor-pointer
}

.shadow-personalized {
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
}

#department_categories h2 {
    @apply font-bold text-base mb-[5px]
}

#department_categories h3, .item-focus{
    @apply text-[#005CFF] font-bold
}

#department_categories #categoriesListWrapper {
    @apply flex gap-32 text-sm
}

.categoriesWrapper {
    @apply max-h-full
}

#department_categories li {
    @apply text-[#656565] mt-3 cursor-pointer
}

.item-focus {
    @apply text-[#005CFF] font-bold
}

.transition-max-height {
    transition: max-height .5s ease;
  }
  .max-h-0 {
    max-height: 0;
    /* margin-top: -10px; */
  }
  .max-h-expanded {
    max-height: 330px !important;
    /* margin-top: 0 !important; */
     /* valor suficiente para seu conteúdo */
  }